<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="DportenisPro.DPTienda.ApplicationUnits.CierreDiaAU.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<appSettings><add key="CierreDiaAU.wsPSug.PedidoSugerido" value="http://dpws/Credito/PedidoSugerido.asmx"/></appSettings><applicationSettings>
        <DportenisPro.DPTienda.ApplicationUnits.CierreDiaAU.My.MySettings>
            <setting name="CierreDiaAU_wsPSug_PedidoSugerido" serializeAs="String">
                <value>http://dpws/Credito/PedidoSugerido.asmx</value>
            </setting>
        </DportenisPro.DPTienda.ApplicationUnits.CierreDiaAU.My.MySettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
