<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="DportenisPro.DPTienda.ApplicationUnits.AbonoCreditoDirectoTienda.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<appSettings><add key="AbonoCreditoDirectoTienda.wsAbonoCreditoDirecto.AbonoCreditoDirectoX" value="http://localhost/Credito/AbonoCreditoDirecto.asmx"/><add key="AbonoCreditoDirectoTienda.wsEstadoDeCuentaAsociado.Estado de Cuenta .::. Asociado" value="http://ws.dpportal.com.mx/EstadodeCuenta/EstadoCuentaAsociado.asmx"/><add key="AbonoCreditoDirectoTienda.wsEstadoDeCuentaAsociado.EstadodeCuentaAsociado" value="http://dpssvr/Credito/EstadodeCuentaAsociado.asmx"/></appSettings><applicationSettings>
        <DportenisPro.DPTienda.ApplicationUnits.AbonoCreditoDirectoTienda.My.MySettings>
            <setting name="AbonoCreditoDirectoTienda_wsAbonoCreditoDirecto_AbonoCreditoDirectoX" serializeAs="String">
                <value>http://localhost/Credito/AbonoCreditoDirecto.asmx</value>
            </setting>
            <setting name="AbonoCreditoDirectoTienda_wsEstadoDeCuentaAsociado_EstadodeCuentaAsociado" serializeAs="String">
                <value>http://dpssvr/Credito/EstadodeCuentaAsociado.asmx</value>
            </setting>
        </DportenisPro.DPTienda.ApplicationUnits.AbonoCreditoDirectoTienda.My.MySettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
