<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<appSettings><add key="FacturasFormaPagoAU.wsControlDPVales.ControlDPVales" value="http://pcerick/credito/ControlDPVales.asmx"/><add key="FacturasFormaPagoAU.wsCreditoDPVale.Credito .:::· CreditosDPVale" value="http://pcerick/credito/CreditosDPVale.asmx"/><add key="FacturasFormaPagoAU.wsCreditosEnTienda.Credito .:::· CreditosEnTienda" value="http://dpssvr/credito/CreditosEnTienda.asmx"/><add key="FacturasFormaPagoAU.wsEstadoCuentaAsociado.EstadodeCuentaAsociado" value="http://dpssvr/Credito/EstadodeCuentaAsociado.asmx"/><add key="FacturasFormaPagoAU.wsPagosCreditoDirecto.PagosCreditoDirecto" value="http://dpssvr/credito/PagosCreditoDirecto.asmx"/><add key="FacturasFormaPagoAU.wsSAP.Credito .:::· SAP" value="http://localhost/credito/sap.asmx"/></appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
