<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<appSettings><add key="NotasCreditoAU.wsAsociados.Credito .:::· Asociados" value="http://dpssvr/Credito/Asociados.asmx"/><add key="NotasCreditoAU.wsControlDPVales.ControlDPVales" value="http://pcerick/credito/ControlDPVales.asmx"/><add key="NotasCreditoAU.wsCreditoDPVale.Credito .:::· CreditosDPVale" value="http://dpssvr/credito/CreditosDPVale.asmx"/><add key="NotasCreditoAU.wsEstadoCuentaAsociado.EstadodeCuentaAsociado" value="http://dpssvr/Credito/EstadodeCuentaAsociado.asmx"/></appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
